@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
html {
  background: rgba(0, 0, 0, 0.89);
  font-size: 62.5%;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 0.625rem;
}
.i img {
  width: 300px;
  height: 200px;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.got-bike {
  line-height: 2rem;
  color: white;
  margin-left: 1rem;
  font-size: 1.25rem;
}
.btn {
  background: #ef6c00;
  padding: 1.5rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
}
.btn:hover {
  background: white;
  color: #ef6c00;
}
.delivery {
  margin-left: 3rem;
  color: white;
}
/* .flex1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3rem;
} */
/* .img1 img {
  width: 50%;
  margin-bottom: 0;
}
.img2 img {
  width: 100%;
}
.img3 img {
  width: 15rem;
}
.para {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
}
.first,
.second,
.third {
  width: 33%;
}
.img1-para {
  background: #323e44;
  border: 0.0625rem solid #323e44;
  border-radius: 0.5rem;
  margin-top: 0;
  margin-left: 3rem;
  width: 25rem;
  height: 18rem;
  padding: 1rem;
  color: #e5eef3;
  font-size: 1.5rem;
}
.img1-para p span {
  color: #ef6c00;
}
.img1-para a {
  color: #ef6c00;
}
.img2-para {
  background: #323e44;
  border: 0.0625rem solid #323e44;
  border-radius: 0.5rem;
  margin-top: 0;
  margin-left: 3rem;
  width: 25rem;
  height: 18rem;
  padding: 1rem;
  color: #e5eef3;
  font-size: 1.5rem;
}
.img2-para p span {
  color: #ef6c00;
}
.img2-para a {
  color: #ef6c00;
}
.img3-para {
  background: #323e44;
  border: 0.0625rem solid #323e44;
  border-radius: 0.5rem;
  margin-top: 0;
  margin-left: 3rem;
  width: 25rem;
  height: 18rem;
  padding: 1.5rem;
  color: #e5eef3;
  font-size: 1.5rem;
}
.img3-para p span {
  color: #ef6c00;
}
.img3-para a {
  color: #ef6c00; 
}
  */
h2 {
  font-size: 1.7rem;
}
.para {
  display: flex;
  gap: 1rem;
  padding: 3rem;
}
.para img {
  width: 100%;
}

.img1-para,
.img2-para {
  color: white;
  background: #323e44;
  height: 15rem;
  border: 0.0625rem solid #323e44;
  border-radius: 0.5rem;
  font-size: small;
  padding: 2rem;
  margin-top: -1rem;
}
.img3-para {
  color: white;
  height: 15rem;
  padding: 0.8rem;
  font-size: small;
  border-radius: 0.5rem;
  background: #323e44;
  border: 0.0625rem solid #323e44;
  margin-top: -1rem;
}
a {
  color: #ef6c00;
}

.color-1 {
  color: #ef6c00;
}
.founder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10rem;
}
.founder-img img {
  width: 200px;
}
.founder .founder-para {
  color: white;
  font-size: 2rem;
  margin-left: 6rem;
}
.name-para {
  line-height: 3.5rem;
}
.founder-parcel {
  font-weight: 400;
}
.founder-parcel {
  font-weight: 200;
  padding-top: 40rem;
}
a:hover {
  color: #ef6c00;
  background: white;
  border-radius: 1rem;
  padding: 0.7rem;
}
