@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: #1a1a1a;
   color: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

a {
  color: #ef6c00;
}

.color-1 {
  color: #ef6c00;
}

a:hover {
  color: #ef6c00;
  background: white;
  border-radius: 1rem;
  padding: 0.5rem;
}


/* Header styles */
.header {
  position: fixed; /* should the header be fixed? */
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
  background-color: transparent;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width:1200px; */
  /* margin: 0 auto; */
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.logo-icon {
  background: #fff;
  color: #ef6c00;
  padding: 0.3rem 0.25rem; /*changed from 0.5rem*/
  border-radius: 44%; /*changed from 4px*/
  margin-right: 0.2rem;
}
.logo-text {
  color: #ef6c00;
}
.nav-links {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ef6c00;
}

.nav-links a.active {
  color: #ef6c00;
}

.login-btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid #1a1a1a; /*when I removed this, it wasnt looking good*/
}
.login-btn:hover {
  border: 1px solid white; /*removed from the login above since it's not in the figma*/
  border-radius: 4px;
}

/* Hero section styles */
.hero {
  min-height: 100vh;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.hero-content {
  max-width: 56rem; /*was 800px*/
  color: #ffffff;
  /* margin-left: 15rem; */
}

.hero h1 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #cccccc;
}

.cta-buttons {
  margin-bottom: 1rem; /*was 2rem*/
}

.cta-primary {
  background: #ef6c00;
  color: #ffffff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-primary:hover {
  color: #ef6c00;
  background: #fff;
}
.fourth {
  margin-top: -14rem; /*was -16.5rem*/
}
.fourth button {
  color: #ef6c00;
  background: #000;
  border: 1px solid #ef6c00;
  padding: 0.6rem 1.2rem; /*was 1rem 1.2rem*/
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.fourth button:hover {
  background: #ef6c00;
  color: #000;
}
.service-area {
  font-size: 0.9rem;
  opacity: 0.8;
}

.fifth {
  display: flex;
  justify-content: space-around;
  padding: 0 3rem 7rem; /*was 1rem*/
  line-height: 1.5;
  gap: 1.4rem;
  /* margin-left: -4rem; */
  color: #fff;
}
.sixth h2 {
  font-size: 2.3rem;
}
.sixth p {
  font-size: 1.2rem;
}
.seventh,
.tenth {
  max-width: 55%; /*was 350px*/
}
.seventh img,
.tenth img {
  width: 100%;
  border-radius: 0.9rem; /*was 5px*/
}

.sixth button {
  background: #ef6c00;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.sixth button:hover {
  background: #fff;
  color: #ef6c00;
}

/* .eighth {
  display: flex;
  justify-content: space-around;
  line-height: 2rem;
  padding: 1rem;
  margin-left: -4rem;
  color: #fff;
} */

/* .ninth h2 {
  font-size: 4rem;
} */

/* The flexed section for image starts here */
.other-services-offered {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}
.other-services-offered article {
  background: #323e44;
  border-radius: 0.5rem;
}
.other-services-offered article {
  max-width: 33%;
}
.other-services-offered article img {
  width: 100%;
}
.serv-para {
  padding: 1rem 0.49rem 0 1.5rem;
  font-size: 1.5rem;
}
.serv-para p {
  padding: 2rem 0;
}
.serv-para .last-para {
  padding-bottom: 0.2rem;
}
.serv-para span,
.serv-para a {
  color: #ef6c00;
}

/* Media queries */
@media screen and (max-width: 1200px) {
  .hero {
    min-height: 60vh;
  }
  .hero-content {
    max-width: 42rem;
  }
  .sixth h2 {
    font-size: 1.5em;
  }
  .serv-para .first-para-serv {
    padding-bottom: 2.7em;
  }
  .serv-para {
    padding: 0.5em 0.2em;
  }
}

@media screen and (max-width: 537px) {
  .fifth .seventh,
  .fifth .tenth {
    max-width: 90%;
    margin: 0 auto;
  }
  .fifth .seventh img,
  .fifth .tenth img {
    width: 100%;
  }
  .other-services-offered {
    flex-direction: column;
  }
  .other-services-offered article {
    max-width: 90%;
    margin-bottom: 2.5rem;
  }
  .founder-para {
    display: block;
    margin-top: 30rem;
  }
}

/* html {
  background: rgba(0, 0, 0, 0.89);
  font-size: 62.5%;
} */

/* body {
  font-size: 1.6rem;
  line-height: 1.5;
} */

/* Mobile styles (default) */
/* .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
} */

/* .i img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
} */

.got-bike {
  align-items: center;
}

/* .btn {
  background: #ef6c00;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.4rem;
} */

/* .btn:hover {
  background: white;
  color: #ef6c00;
} */

.delivery h2 {
  font-size: 2.5rem;
  padding-left: 1.5rem;
  /* margin-bottom: 1rem; */
}

/* .para {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
} */

/* .para img {
  width: 100%;
  max-width: 300px;
  height: auto;
} */
/* 
.img1-para,
.img2-para,
.img3-para {
  color: white;
  background: #323e44;
  border: 0.0625rem solid #323e44;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  padding: 1.5rem;
  margin-top: 1rem;
} */


/* 
.founder {
   display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  text-align: center;
  padding: 0 1rem; 
} */

.founder {
  margin: 3rem 0;
  gap: 4em;
}
.founder .founder-img {
  min-width: 33%;
  max-height: 5rem;
}
.founder-img img {
  width: 100%;
  max-width: 100%;
}

.founder .founder-para h4 {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

/* .name-para {
  margin-bottom: 1rem;
} */
.founder-name {
  padding: 0;
  margin: 0;
}
.founder-parcel {
  font-weight: 200;
  font-size: 1rem;
  opacity: 0.8;
  /* margin-bottom: 2rem; */
}



/* Tablet styles */
/*@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .i {
    flex: 0 0 48%;
  }

  .got-bike {
    flex: 0 0 48%;
  }

  .para {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .para > div {
    flex: 0 0 48%;
  }

  .founder {
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
  }

  .founder-img {
    flex: 0 0 30%;
  }

  .founder-para {
    flex: 0 0 65%;
  }
}

/* Desktop styles */
/*@media screen and (min-width: 1024px) {
  .container {
    flex-wrap: nowrap;
    align-items: center;
  }

  .i img {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .got-bike {
    margin-left: 1rem;
    font-size: 1.6rem;
  }

  .delivery {
    margin-left: 3rem;
    font-size: 1.6rem;
  }

  .para {
    flex-wrap: nowrap;
    padding: 3rem;
  }

  .para > div {
    flex: 1;
  }

  .img1-para,
  .img2-para,
  .img3-para {
    height: 15rem;
    margin-top: -1rem;
    font-size: 1.4rem;
  }

  .founder {
    justify-content: space-around;
    margin-top: 10rem;
  }

  .founder-img img {
    margin-bottom: 0;
  }

  .founder .founder-para {
    font-size: 1.8rem;
    margin-left: 6rem;
  }

  .name-para {
    line-height: 3.5rem;
  }

  .founder-parcel {
    padding-top: 4rem;
  }
}


.parcelAboutSection,
.customerReviewSection {
  padding: 2rem 2rem 0;
}
.parcelAboutSection h1 {
  padding-left: 1rem;
  width: 36rem;
  font-size: 1.7rem;
}

.aboutDivRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 2rem;
}
.aboutDivRow h4 {
  font-weight: 700px;
}
.aboutDivRow p {
  padding-top: 10px;
}
.widthofTheRow {
  width: 22rem;
}

/* customerReview */
.customerReviewSection h2 {
  padding: 40px 10px;
}
.reviewDiv {
  display: flex;
  gap: 20px;
}
.customerReview {
  border: 1px solid #ffffff;
  padding: 10px 5px;
  width: 33%;
  text-align: justify;
}
.customerReview p {
  padding-bottom: 25px;
}
.customerReview img {
  height: 30px;
}
.imgDiv {
  display: flex;
}
.imgDiv span {
  padding: 7px;
}

/* delivery section */
.parcelDeliverySection {
  text-align: center;
  padding-top: 50px;
}
.parcelDeliverySection h1 {
  font-size: 38px;
  padding-bottom: 6px;
}
.parcelDeliverySection img {
  padding: 4rem 0 5rem 0;
  height: 39rem;
  width: 94%;
}

/* footer */
footer {
  background-color: #455a64;
  padding: 20px 30px;
}
.containLogo {
  display: flex;
}
.logoParagraph {
  color: #ef6c00;
  font-size: 12px;
  padding: 4px 2.5px;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  opacity: 0.6;
}
.footerContainer {
  display: flex;
  gap: 10px;
  padding-left: 0;
}
.iconContainer {
  justify-content: space-between;
  padding-bottom: 20px;
}
footer img {
  height: 20px;
}
footer ul a {
  color: #ffffff;
}

