@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background: #1a1a1a;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
.parcelAboutSection,
.customerReviewSection {
  padding: 30px 20px;
}
.parcelAboutSection h1 {
  padding-left: 13px;
  width: 500px;
}

.aboutDivRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 0px;
  gap: 40px;
}
.aboutDivRow h4 {
  font-weight: 700px;
}
.aboutDivRow p {
  padding-top: 10px;
}
.widthofTheRow {
  width: 22rem;
}

/* customerReview */
.customerReviewSection h2 {
  padding: 40px 10px;
}
.reviewDiv {
  display: flex;
  gap: 20px;
}
.customerReview {
  border: 1px solid #ffffff;
  padding: 10px 5px;
  width: 33%;
  text-align: justify;
}
.customerReview p {
  padding-bottom: 25px;
}
.customerReview img {
  height: 30px;
}
.imgDiv {
  display: flex;
}
.imgDiv span {
  padding: 7px;
}

/* delivery section */
.parcelDeliverySection {
  text-align: center;
  padding-top: 50px;
}
.parcelDeliverySection h1 {
  font-size: 38px;
  padding-bottom: 6px;
}
.parcelDeliverySection img {
  padding: 10px 0 90px 0;
  height: 600px;
  width: 100%;
}

/* footer */
footer {
  background-color: #455a64;
  padding: 20px 30px;
}
.containLogo {
  display: flex;
}
.logoParagraph {
  color: #ef6c00;
  font-size: 12px;
  padding: 4px 2.5px;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  opacity: 0.6;
}
.footerContainer {
  display: flex;
  gap: 10px;
  padding-left: 0;
}
.iconContainer {
  justify-content: space-between;
  padding-bottom: 20px;
}
footer img {
  height: 20px;
}
footer ul a {
  color: #ffffff;
}

/* media query for device */
@media screen and (max-width: 480px) {
  .parcelAboutSection {
    padding: 20px 0;
  }
  .aboutDivRow {
    gap: 30px;
    justify-content: center;
    padding-bottom: 0;
  }
  .widthofTheRow {
    width: 40%;
    text-align: justify;
  }
  .customerReviewSection h2 {
    padding-top: 5px;
  }
  .reviewDiv {
    display: block;
  }
  .customerReview {
    width: 100%;
    margin: 10px;
  }
  .parcelDeliverySection img {
    padding: 20px 0 30px 0;
    height: 400px;
    width: 100%;
  }
  footer {
    padding: 10px 8px;
  }
  .footerContainer {
    gap: 10px;
  }
}

/* media query for ipad */
@media screen and (max-width: 1200px) {
  .imgDivSarah {
    padding-top: 20px;
  }
}
