@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background-color: #000000d4;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}
.parcelAboutSection,
.customerReviewSection {
  padding: 30px 40px;
}
.parcelAboutSection h1 {
  padding-left: 10px;
}

.aboutRoll {
  display: flex;
  padding-top: 30px;
  flex-wrap: nowrap;
  gap: 60px;
}
.aboutRoll h4 {
  font-weight: 700px;
}
.aboutRoll p {
  padding-top: 10px;
}
.widthofTheRoll {
  width: 33%;
}

/* customerReview */
.customerReviewSection h2 {
  padding: 40px 10px;
}
.reviewDiv {
  display: flex;
  gap: 20px;
}
.customerReview {
  border: 1px solid #ffffff;
  padding: 10px 5px;
  width: 33%;
}
.customerReview p {
  padding-bottom: 25px;
}
.customerReview img {
  height: 30px;
}
.imgDiv {
  display: flex;
}
.imgDiv span {
  padding: 7px;
}
/* delivery section */
.parcelDeliverySection {
  text-align: center;
  padding-top: 50px;
}
.parcelDeliverySection h1 {
  font-size: 38px;
  padding-bottom: 6px;
}
.parcelDeliverySection img {
  padding: 10px 20px 100px;
  height: 600px;
  width: 90%;
}

/* footer */
footer {
  background-color: #455a64;
  padding: 20px 30px;
}
.containLogo {
  display: flex;
}
.logoParagraph {
  color: #ef6c00;
  font-size: 12px;
  padding: 4px 2.5px;
}
footer a {
  text-decoration: none;
}
.footerContainer {
  display: flex;
  gap: 10px;
}
.iconContainer {
  justify-content: space-between;
  padding-bottom: 20px;
}
footer img {
  height: 20px;
}
footer ul a {
  color: #ffffff;
}
